<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="FriendOrganaizerDb" 
         connectionString="Data Source=(LocalDB)\.;Initial Catalog=FriendOrganaizerDb;Integrated Security=True"
         providerName="System.Data.SqlClient"/>
    <!--<add name="FriendOrganaizerDb"
         connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=G:\c#\solutions\FriendOrganaizer\FriendOrganaizer.DataAccess\Database.mdf;Integrated Security=True"
         providerName="System.Data.SqlClient"/>-->
  </connectionStrings>
</configuration>