<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="FriendOrganaizerDb" 
         connectionString="Data Source=.;Initial Catalog=FriendOrganaizer;Integrated Security=True"
         providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>